
<div id="main_page_user">



<div class="right_sidebar">
<h2>Tweets</h2>
<% @tweets.each do |tweet| %>
<img width = 100px src="<%= tweet.user.profile_photo_url%>" alt="" />
<%=tweet.user.name%>
<%=link_to "@#{tweet.user.username}", user_path(tweet.user)%>
<%=link_to "#{tweet.created_at.strftime("%D")}", tweet_path(tweet)%>
<div style="width=200px"><%=tweet.content.html_safe%></div>
<% unless current_user.favorites.include? (tweet) %>
<%= form_tag tweet_favorite_path(tweet) do%>
<%= submit_tag "Favorite" %>
<% end %>
<% end %>

<% unless current_user == tweet.user %>
<%= form_tag tweet_retweet_path(tweet) do %>
<%= submit_tag "Retweet" %>
<% end %>
<% end %>
<%end%>
</div>
