<div id="main_page_left_sidebar">

<div id="main_page_user">

  <%= link_to @user do %>
  <div id="main_page_user_box" style="background-image:url('<%=@user.background_photo_url%>')">
  <img src="<%= @user.profile_photo_url%>" alt="" class="main_page_user_photo" />
  <br>
  <%= @user.name %>
  <br>
  @<%= @user.username %>
  </div>
  <% end %>
  <div class="user_info">
    TWEETS
    <br>
     <%= @user.tweets.length%>
  </div>
  <div class="user_info">
    FOLLOWING
    <br>
    <%= @user.followers.length %>
  </div>
  <div class="user_info">
    FOLLOWERS
    <br>
    <%=@user.followees.length%>
  </div>

   <%= flash[:notice] %>

   <%= form_for @path do |f| %>
   <%= f.text_field :content, placeholder: 'limit 140 characters'  %>
   <%= f.submit "Meow!" %>
   <% end %>

</div>

<div id="who_to_follow">
<h3>Who To Follow | <%=link_to "View All", users_path%></h3>


<% @users.each do |user|  %>
<% unless current_user == user %>
<img width="100px" src="<%=user.profile_photo_url%>" alt="" />
<%= user.name %> <%= link_to "@#{user.username}", user_path(user)  %>

<% unless current_user.followers.include?(user) %>
<%= form_tag user_follow_path(user) do  %>
<%= submit_tag "Follow" %>
<% end %>
<% end %>

<% if current_user.followers.include?(user) %>
<%= form_tag user_unfollow_path(user) do %>
<%= submit_tag "Unfollow" %>
<% end %>
<% end %>
<% end %>

<% end %>
</div>

<div id="hashtags">
<h3>Trends</h3>
<%@hashtags.each do |hashtag|%>
<%= link_to hashtag.content, hashtag_path(hashtag) %>
<% end %>
</div>

<div id="main_page_sidebar_footer">
&copy; Trinity Montoya
<a href="#">About</a>
<a href="#">Github</a>
<a href="#">Personal Page</a>
</div>
</div>

<div id="newsfeed">
<h2>Tweets</h2>
<% @tweets.each do |tweet| %>
<img width = 100px src="<%= tweet.user.profile_photo_url%>" alt="" />
<%=tweet.user.name%>
<%=link_to tweet.user.username, user_path(tweet.user)%>
<%=tweet.created_at.strftime("%D")=%>
<div style="width=200px"><%=tweet.content.html_safe%></div>
<% unless current_user.favorites.include? (tweet) %>
<%= form_tag tweet_favorite_path(tweet) do%>
<%= submit_tag "Favorite" %>
<% end %>
<% end %>

<% unless current_user == tweet.user %>
<%= form_tag tweet_retweet_path(tweet) do %>
<%= submit_tag "Retweet" %>
<% end %>
<% end %>
<%end%>
</div>
